<!-- <div id="chat" data-chat-id= <%= @chat.slug %> data-controller='messages' data-messages-target='chat'>     -->
<head>
    <style>
    div[class*="message-"] {
        background-color: #2e2e2e;
        word-wrap: break-word;
        width: fit-content;
        margin: 5px;
        color: whitesmoke;
        padding: 5px 10px;
        border-radius: 10px;
        max-width: 75%;
        animation: fadein 0.1s ease-in-out;
    }
    <%= "div.message-#{current_user.slug}" %> {
        background-color: #0053c9;
        border: 1px solid white;
        margin-left: auto;
        word-wrap: break-word;
        animation: fadein 0.3s ease-in-out;
    }
    @keyframes fadein {
        0% {
            transform-origin: bottom;
            transform: translateY(50%);
        }
        100% {
            transform: translateY(0%);
        }
        
    }
    </style>
</head>
<div id=<%= "chat"%> class="chat-mobile" data-controller="messages" >
    <div class="chat-friend">
        <% friend = chat.user == current_user ? chat.friend : chat.user %>
        <%= link_to user_path(friend) do %>
            <%= image_tag(friend.profile_picture, class: 'chat-profile-pic') %>
        <% end %>
        <div class="user-date">
        <%= link_to user_path(friend) do %>
            <p class='chat-user'><%= friend.first_name+' '+friend.last_name %></p>
        <% end %>
        </div>
    </div>
    <div id= <%="messages_#{@chat.slug}"%> data-messages-target="messages">
        <% messages.reverse.each do |mes| %>
            <%= render partial:'messages/message', locals: {message: mes, user: current_user.slug}%>
        <% end %>
    </div>
    <%= turbo_frame_tag id='new_message', src: new_message_path(chat_id: chat.slug) %>
</div>

<%# turbo_stream_from @chat %>