<head>
    <% stylesheet_link_tag 'general'%>

    <style>
    <%= "p#user-last-#{current_user.slug}::before" %> {
        content: "You:\00a0 ";
    }
    p[id*="user-last-"] {
        display: flex;
        width: 100%;
    }
    </style>
</head>
<%= render partial:'layouts/hero', locals: {'status': 'feed'}%>

<div id="chats-container" data-controller="chat-mobile">
    <div id="chats" data-controller='chat-deselect' data-chat-mobile-target="chats" data-action="touchend->chat-mobile#hideChats">
        <% @friends.each do |friend| %>
            <% chat = find_chat(@chats, friend )%>
            <%= link_to chat_path(chat), class: class_names(@classes[chat.slug]), remote: true, data: {turbo_stream: true, chat_id: chat.slug, 'controller': 'chat-select', 'chat-deselect-target': 'chat', 'chat-select-target': 'chat', 'action': 'click-> chat-deselect#clear chat-select#select'} do %>
                <%= image_tag(friend.profile_picture, class: 'chat-profile-pic') %>
                <div class="user-div">
                    <p class='chat-user'><%= friend.first_name+' '+friend.last_name %></p>
                    <div id="last-message-<%= chat.slug %>">
                        <% unless @last_messages[chat.slug].nil? %>
                            <p class='post-user' id='user-last-message'><%= @last_messages[chat.slug][:body] %></p>
                        <% end %>
                            <p> <%= @last_messages[chat.slug][:created_at] %> </p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div id='chat' data-chat-mobile-target="chat"></div>
</div>
<span class='hidden'><%= csrf_meta_tags %></span>