<head>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <% stylesheet_link_tag 'general'%>
    <meta name="turbo-prefetch" content="false">
</head>
<body>
    <%= image_tag('bg8.jpg', class: 'background-img') %>
    <div id='landing'>
        <div id='landing-left'>
            <p>SocialApp</p>
        </div>
        <div class='credits-1 credits'>
            <span class="icon is-left has-text-light">
                <i class="fas fa-camera"></i>
            </span>
            <a href="https://unsplash.com/@mohamadaz" target='_blank' >Mohammad Alizade</a>
        </div>
        <div id='landing-right' data-controller='landing'>
        <%= turbo_frame_tag id='login', 'data-landing-target': 'login' do %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
            <div class="field">
              <span class="icon is-medium is-left">
                <i class="fas fa-envelope"></i>
              </span>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'you@email.com' %>
            </div>

            <div class="field">
              <span class="icon is-medium is-left">
                <i class="fas fa-lock"></i>
              </span>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: '******' %>
            </div>

            <div class="field">     
              <span class="icon is-small is-left"></span>
              <%= f.submit "Log in", class: 'button is-medium', id: 'landing-login' %>
              </div>
          <% end %>
        <% end %>
            <div id="landing-options">
                <span class="icon is-medium is-left"></span>
                <%= button_to "Login with Google", user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: 'button is-medium unfocused is-ghost', id:'landing-button', 'data-landing-target': 'google'%>
                <%= link_to '/guest?is_guest=true', id: 'sign-up-link' do %>
                    <button class='button is-medium unfocused is-ghost' id='landing-button' data-landing-target='guest'>Login as Guest</button>
                <% end %>
                <%= turbo_frame_tag id='signup' do %>
                    <%= link_to new_user_registration_path, id: 'sign-up-link' do %>
                        <button class='button is-medium unfocused is-ghost' id='landing-button' data-action='landing#signup'>Sign up</button>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</body>
